.nav-toolbar {
    background-color: #00BBD3;
    padding: 0;
    height: 48px;
    margin-bottom: 108px;
    nav {
      display: flex;
      font-size: 14px;
      line-height: 16px;
      padding: 0px;
      height: 48px;
      box-sizing: border-box;
      gap: 0;
      height: 100%;
      align-items: center;
      width: 360px;
  
      a {
        color: white;
        height: 48px;
        text-decoration: none;
        opacity: 0.7;
        border-bottom: 3px solid transparent;
        border-radius: 0;
        flex: 1;
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        &.active-link {
          opacity: 1;
          border-bottom: 3px solid #FF005C;
        }
      }
    }
  }
  